<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Create a New Table</a>
    <h4>List of tables</h4> <br><br>
    <table>
        <thead>
            <tr>
                <th>Table Name</th>
            </tr>
        </thead>
        {% for i in list_tables %}
        <tbody>
            <tr>
                <td><a href="{% url 'values_get' i %}">{{i}}</a></td>
                <td><a href="{% url 'dynamic_insert' i%}">Insert</a></td>
                <td><a href="{% url 'drop_table' i %}" 
                    class="btn btn-danger btn-sm" 
                    onclick="return confirm('Are you sure you want to delete {{ User.username }}?');">
                    Delete
                 </a></td>
                 <td><a href="{% url 'view_fields' i %}">View Fields</a></td>
                 <td><a href="{% url 'upload_file' i %}">Upload File</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>